APScheduler==3.0.1
Babel==1.3
CherryPy==3.7.0
Django==1.8.3
Flask==0.10.1
Graphillion==0.98
HTMLParser==0.0.2
Jinja2==2.7.3
Markdown==2.6.1
MarkupSafe==0.23
PyDNET==0.92
PyPDF2==1.24
PyYAML==3.11
Pygments==2.0.2
Pynq==0.4.0.Pineapple
South==1.0.2
Sphinx==1.3.1
Twisted==15.0.0
Werkzeug==0.10.4
Whoosh==2.6.0
XlsxWriter==0.7.3
alabaster==0.7.3
amqp==1.4.6
anyjson==0.3.3
argparse==1.3.0
beautifulsoup4==4.3.2
billiard==3.3.0.19
bleach==1.4.1
boto==2.37.0
bottle==0.12.8
celery==3.1.17
cffi==1.1.2
chardet==2.3.0
cryptography==0.9.1
decorator==3.4.0
dj-database-url==0.3.0
dj-static==0.0.6
django-admin-bootstrapped==2.3.1
django-allauth==0.18.0
django-appconf==1.0.1
django-braces==1.4.0
django-celery==3.1.16
django-celery-email==1.1.1
django-compressor==1.4
django-crispy-forms==1.4.0
django-debug-toolbar==1.3.0
django-filter==0.9.1
django-haystack==2.3.1
django-reversion==1.8.5
django-suit==0.2.12
django-toolbelt==0.0.1
djangorestframework==3.0.2
djoser==0.1.0
docutils==0.12
enum34==1.0.4
feedparser==5.1.3
futures==2.2.0
gdata==2.0.18
gspread==0.2.5
gunicorn==19.3.0
html2text==3.200.3
html5lib==0.999
httpie==0.8.0
httplib2==0.9.1
idna==2.0
ipaddress==1.0.7
itsdangerous==0.24
jdcal==1.0
kombu==3.0.24
lxml==3.4.2
networkx==1.9.1
nltk==3.0.4
numpy==1.9.2
oauth2client==1.4.11
oauthlib==0.7.2
openpyxl==2.2.5
ordereddict==1.1
pandas==0.16.0
pbr==0.10.8
psycopg2==2.6.1
pyOpenSSL==0.15.1
pyPdf==1.13
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.14
pymongo==3.0
pymssql==2.1.1
pyodbc==3.0.10
pyparsing==2.0.3
python-dateutil==2.4.2
python-docx==0.8.5
python-handler-socket==0.2.4
python-openid==2.2.5
pytz==2015.2
pyzmail==1.0.3
requests==2.6.0
requests-oauthlib==0.4.2
rsa==3.1.4
scapy==2.3.1
scikit-learn==0.16.1
scipy==0.15.1
six==1.9.0
snowballstemmer==1.2.0
sphinx-rtd-theme==0.1.7
sqlparse==0.1.14
static3==0.6.1
stevedore==1.3.0
textblob==0.9.1
tzlocal==1.1.2
unicodecsv==0.9.0
virtualenv==12.0.7
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.2
wsgiref==0.1.2
xlrd==0.9.3
xmltodict==0.9.0
yolk==0.4.3
zope.interface==4.1.2
