{% extends 'base.html' %}

{% block css %}
{#    <link rel="stylesheet" href="../static/index.css">#}

    <script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
<script>
tinyMCE.PluginManager.add('stylebuttons', function(editor, url) {
  ['pre', 'p', 'code', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'].forEach(function(name){
   editor.addButton("style-" + name, {
       tooltip: "Toggle " + name,
         text: name.toUpperCase(),
         onClick: function() { editor.execCommand('mceToggleFormat', false, name); },
         onPostRender: function() {
             var self = this, setup = function() {
                 editor.formatter.formatChanged(name, function(state) {
                     self.active(state);
                 });
             };
             editor.formatter ? setup() : editor.on('init', setup);
         }
     })
  });
});
   tinymce.init({
       selector: "textarea",
       directionality : 'rtl',
       menubar: false,
       fontsize_formats: "15pt",
       plugins: ["stylebuttons"
       ],
       skin: "lightgray",
    toolbar: "insertfile undo redo  |style-p style-h1 style-h2 style-h3 style-code| bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent "
});

</script>

{%  endblock %}

{% block content %}
<div class="container">
	<div class="login-container"  style="width: 100%;">

            <div id="output"></div>
{#            <div class="avatar"></div>#}
        <div >
<span style="font-family:helveticaneuew01-45ligh,sans-serif;"><span class="color_33"><span style="font-size:28px;">&lt;</span></span><span style="font-size:20px;"><span class="color_33">&nbsp;</span>Translate&nbsp;</span><span class="color_33"><span style="font-size:28px;">/&gt;</span></span></span>
        </div>

        <br>
            <div class="form-box">

                <div dir="ltr">
                    <p style="text-align: justify; font-size: 16px">
                                         {% autoescape off %}{{ txt }}{% endautoescape %}

                    </p>
                </div>
                <br>
{#            <h5 dir="ltr" align="left">Possible Translation:</h5>#}
{#            <div dir="rtl">#}
{#                    <p style="text-align: justify">#}
{#                                         {% autoescape off %}{{ tranTxt }}{% endautoescape %}#}
{#                    </p>#}
{#                </div>#}
{#                <br>#}
            <div class="row">
                <div class="col-md-4">
                                    <a href="{{ link }}" target="_blank">See Google Translation For This Paragraph</a>

                    </div>
                                <div class="col-md-4">
</div>
                                                    <div class="col-md-4">
                                                         <form action="{% url 'getFile' %}" method="post"> {% csrf_token %}
                <input name="paraId" id="paraId" value="{{ id }}" type="hidden">
                                                                <button id="close" class=" "   type="submit">Get The Docx File</button>

            </form>
                                                        </div>

            </div><br>

                <form action="{% url 'translate' %}" method="post"> {% csrf_token %}
                    <textarea dir="rtl" name="txt-tran" id="txt-tran" type="text" placeholder="תרגם פה" style="width: 100%; max-width: 1000px; height: 100px"></textarea>
                    <input name="id" hidden="hidden" id="id" type="text" value="{{ id }}">
                    <br><br><div class="row">

                        <div class="col-md-2 col-md-offset-5">

                                                <button id="close" class="btn btn-info " style="width: 100%;"  type="submit">Submit</button>

                            </div>
                    </div>

                </form>
                            <div class="form-box">

</div>
</div>

</div>
</div>
{%  endblock %}