{% extends 'base.html' %}

{% block css %}
{#    <link rel="stylesheet" href="../static/index.css">#}

{%  endblock %}

{% block content %}


<div class="container">
	<div class="login-container" style="margin-top: 30px; width: 80%;">
            <div id="output"></div>
{#            <div class="avatar"></div>#}
        <div >
<span style="font-family:helveticaneuew01-45ligh,sans-serif;"><span class="color_33"><span style="font-size:28px;">&lt;</span></span><span style="font-size:20px;"><span class="color_33">&nbsp;</span>How It Works?&nbsp;</span><span class="color_33"><span style="font-size:28px;">/&gt;</span></span></span>
        </div>

        <br>
            <div class="form-box">
              <div class="row">
                  <div class="col-lg-12">
                      <h2>Uploading</h2>
                  </div>
              </div>
                <div class="row" align="left">
                    <div class="col-md-12">
                        <p>
                            1. Upload your paper that you want to translate as a DOCX file
                        </p>
                    </div>
                </div>
                <div class="row" >
                    <img style="width: 50%;" src="https://6b3248a10e3a99c1bdd6f2e3ce6747636343606d.googledrive.com/host/0B9vxGlM6fIF5fl81MTJYUjBOX184R1JTZHJrWlJyend0SnRLMXJuTVhZRVRjQUFfN1VEamc/img/tutorial/upload.png">
                </div>
                 <div class="row" align="left">
                    <div class="col-md-12">
                        <p>
                            2. After submitting your paper, you will receive a unique code for the translation
                        </p>
                    </div>
                </div>
                <div class="row" >
                    <img  style="width: 50%;" src="https://6b3248a10e3a99c1bdd6f2e3ce6747636343606d.googledrive.com/host/0B9vxGlM6fIF5fl81MTJYUjBOX184R1JTZHJrWlJyend0SnRLMXJuTVhZRVRjQUFfN1VEamc/img/tutorial/code.png">
                </div>
                <div class="row" align="left">
                    <div class="col-md-12">
                        <p>
                            This code is permanent and cannot be change, for each paper you will get a different code
                        </p>
                    </div>
            </div>
                <div class="row">
                  <div class="col-lg-12">
                      <h2>Translate</h2>
                  </div>
              </div>
                <div class="row" align="left">
                    <div class="col-md-12">
                        <p>
                            1. Insert your code, where shown in the picture below.
                        </p>
                    </div>
                </div>
                <div class="row" >
                    <img style="width: 60%;" src="https://6b3248a10e3a99c1bdd6f2e3ce6747636343606d.googledrive.com/host/0B9vxGlM6fIF5fl81MTJYUjBOX184R1JTZHJrWlJyend0SnRLMXJuTVhZRVRjQUFfN1VEamc/img/tutorial/firstScreen.png">
                </div>
                <div class="row" align="left">
                    <div class="col-md-12">
                        <p>
                            Click "Get Started"
                        </p>
                    </div>
                </div>
                <div class="row" align="left">
                    <div class="col-md-12">
                        <p>
                            2. You will be given a paragraph to translate (see picture)
                        </p>
                    </div>
                </div>
                <div class="row" >
                    <img style="width: 80%;" src="https://6b3248a10e3a99c1bdd6f2e3ce6747636343606d.googledrive.com/host/0B9vxGlM6fIF5fl81MTJYUjBOX184R1JTZHJrWlJyend0SnRLMXJuTVhZRVRjQUFfN1VEamc/img/tutorial/translatePage.png">
                </div>
                <div class="row" align="left">
                    <div class="col-md-12">
                        <p>
                            If you want you can download the original paper to understand the subtext of your paragraph.<br>
                            Also you can see "Google translation" for you paragraph, do not rely on that to be a good translation<br>
                            we are rely on you to translate the paragraph in the best why you can.
                        </p>
                    </div>
                </div>
                <div class="row" align="left">
                    <div class="col-md-12">
                        <p>
                           <strong>Some Tips</strong>
                            <ul>
                        <li>
                            terms - write both translate and the non-translate meaning, put the non-translate in brackets
                        </li>
                        <li>
                            use bold, italic, and etc. to get better visual translate paper
                        </li>
                        <li>
                            translate more than 1 paragraph, you will speed up the translation!
                        </li>
                    </ul>
                        </p>
                    </div>
                </div>
        </div>

</div>

{%  endblock %}