{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block css %}
{#    <link rel="stylesheet" href="../static/index.css">#}
{%  endblock %}
{%  block content %}



    <div class="container">

<div class="row">
<div class="col-md-6 col-md-offset-3 ">
        {% autoescape off %}{{ error }}{% endautoescape %}

</div>
</div>
	<div class="login-container">

            <div id="output"></div>
{#            <div class="avatar"></div>#}
        <div >
<span style="font-family:helveticaneuew01-45ligh,sans-serif;"><span class="color_33"><span style="font-size:28px;">&lt;</span></span><span style="font-size:20px;"><span class="color_33">&nbsp;</span>Upload File&nbsp;</span><span class="color_33"><span style="font-size:28px;">/&gt;</span></span></span>
        </div>

        <br>
            <div class="form-box">
               <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}

       {{ form | crispy }}
            <p><input  type="submit" value="Upload" /></p>
        </form>

            </div>
        </div>

</div>


{%  endblock %}